<img src="<%=@user.image %>">
<br>
Name: <%= @user.name %>
<br>
Email: <%= @user.email %>
<br>
Hometown: <%= @user.hometown %>
<br>
Current Location: <%= @user.location %>
<br>
<h3><%= @user.name %>'s Friends</h3>
<% @user.friends.each do |friend| %>
<img src="<%=friend.image %>">
<br>
<%= friend.name %>
<br>
<%= friend.email %>
<br>
<% end %>
