<h3><%= @facility.name %></h3>
<br>
<% if current_user.likes.find_by_facility_id(@facility) %>
  <%= button_to('Liked', facility_likes_path(@facility), disabled: true) %>
<% else %>
  <%= button_to('Like', facility_likes_path(@facility)) %>
<% end %>
<br>
<img class="search_images" src=<%= @facility.img_url %>>
<br>
<%= @facility.formatted_phone_number %>
<br>
<%= @facility.formatted_address %>
<br>
Rating: <%= @facility.rating %>
<br>
<%= @facility.url %>
<br>
(<%= @facility.reviews.count %> reviews)
<br>

<%= link_to('New Review', new_facility_review_path(@facility.id)) %>
<br>

<% @facility.reviews.sort_by(&:score).reverse.each do |review| %>
<%= review.user.email %>
<%= review.body %>
<%= link_to('Edit', edit_facility_review_path(review, facility_id: @facility.id)) %>
 |
<%= link_to 'Delete', facility_review_path(review, facility_id: @facility.id), method: :delete, data: {confirm: 'Are you sure?'} %>
<br>
Votes (<%= review.score %>)
<%= link_to 'Useful?', review_votes_path(review, is_up: true), method: :post %>
<%= link_to 'Not Useful?', review_votes_path(review, is_up: false), method: :post %>
<br>

<br>
<% end %>
