<h3><%= @facility.name %></h3>
<br>
<img class="search_images" src=<%= @facility.img_url %>>
<br>
<%= @facility.formatted_phone_number %>
<br>
<%= @facility.formatted_address %>
<br>
Rating: <%= @facility.rating %>
<br>
<%= @facility.url %>
<br>
(<%= @facility.reviews.count %> reviews)
<br>

<%= link_to('New Review', new_facility_review_path(@facility)) %>
<br>

<% @facility.reviews.each do |review| %>
<%= review.user.email %>
<%= review.body %>
<br>
<% end %>
