<!DOCTYPE html>
<html>
<head>
  <title>SportFinder</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="container">
     <h1><%= link_to 'SportFinder', root_path %>
     <ul class="nav navbar-nav navbar-right">
     <li>
      <span class='signin'>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
      </span>
     </li>
     </ul>
     </h1>
   </div>
  </nav>
<% flash.each do |name, msg| %> <% if msg.is_a?(String) %> <%= content_tag :div, msg, :class => "flash_#{name}" %> <% end %> <% end %>
<%= yield %>
</div>

</body>
</html>
